# Terraform State Files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

bootstrap/.terraform/
bootstrap/*.tfstate
bootstrap/*.tfstate.*
bootstrap/*.tfplan
bootstrap/.terraform.lock.hcl

.idea/